*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

body{ 
    background-image: url(../img/about.jpg);
    background-size: cover;
}
#header{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 80px;
    background-color:#1c1c84;
    padding: 5px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 80px;
    width: 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul{
    border:  solid;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20%;
    background-color: white;
    color: green;
}
a{
    color: blue;
}

nav ul li a:hover{
    padding: 2px;
    color: red;
}

